.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .register-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #2f5e91;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #214475;
  }

  .error-message{
    color: red;
    margin-top: 0
  }